body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #333; /* Darker grey background */
    color: #fff; /* White font color */
}

header {
    background: #222; /* Slightly darker header */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative; /* Enable absolute positioning for child elements */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #66aaff; /* Lighter blue for hyperlinks */
    text-decoration: none;
}

header nav ul li a:hover {
    color: #99ccff; /* Even lighter blue on hover */
}

.small-logo {
    position: absolute; /* Position it relative to the header */
    left: 20px; /* Adjust to desired horizontal position */
    bottom: 10px; /* Adjust to desired vertical position */
    width: 50px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
}

.bottom-right-logo {
    position: absolute; /* Position it relative to the header */
    right: 20px; /* Align to the right */
    bottom: 10px; /* Align with the bottom */
    width: 50px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Style for the bluecap.png image in the About section */
.about-right-logo {
    position: relative; /* Relative positioning within the section */
    float: right; /* Align to the right side */
    margin: 20px; /* Add margin to avoid overlapping content */
    width: 50px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #444; /* Darker grey for section background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #222; /* Darker footer */
    color: #fff;
}

.language-selector button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.language-selector button img {
    vertical-align: middle; /* Align the image vertically in the button */
    margin-right: 5px; /* Add some space between the image and text */
}
